.CartWidget {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 0.18rem 0.5rem;
  border-radius: 99px;
  font-weight: 700;
  font-size: 0.9rem;
}

.CartWidget .material-symbols-outlined {
  font-size: 1.5rem;
  color: rgb(68, 68, 68);
  font-weight: bolder;
  cursor: pointer;
}
