.CartWidget {
  display: flex;
  align-items: center;
  background-color: #ca811a;
  border-radius: 10px;
  padding: 7px;
  border: 1px solid #b26e0f;
}

.CartWidget .material-symbols-outlined {
  font-size: 1.5rem;
  background-color: #ca811a;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}
