.checkout-card {
  max-width: 330px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout-input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.checkout-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-thanks {
  text-align: center;
  color: #28a745;
}

.checkout-orderid {
  padding: 5px auto;
  text-align: center;
  font-size: 1.2em;
}
