@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
h1 {
  color: black;
  margin: 1rem;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.item-list-container {
  padding: 20px 0;
}

.descripcion {
  margin: 0 auto 20px auto;
  max-width: 600px;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fea321;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
  transform-origin: center center;
  will-change: transform, opacity;
}

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9f630f;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
  animation-delay: -1s;
  transform-origin: center center;
  will-change: transform, opacity;
  z-index: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.4;
  }
  50% {
    transform: scale(1);
    opacity: 0.9;
  }
}
