.count-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-decrementar {
  width: 40px;
  background-color: #ff6f61;
  color: white;
  border: solid 1px #b74035;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-decrementar:hover {
  background-color: #ff3b2e;
}

.btn-incrementar {
  width: 40px;
  background-color: #16a34a;
  color: white;
  border: solid 1px #098034;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-incrementar:hover {
  background-color: #13803d;
}

.btn-comprar {
  background-color: #16a34a;
  color: white;
  border: solid 1px #098034;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-comprar:hover {
  background-color: #13803d;
}

.span-count {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}
